
<!-- Breadcrumb -->
<ol class="breadcrumb m-b-0">
    <li><a href="#/">Home</a></li>
    <li class="active">Orders</li>
</ol>

<div class="container-fluid" ng-init="getAll();">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Order</strong>
                        <small>Form</small>
                    </div>
                    <!-- /.row -->
                     <div class="card-block">
                        <div class="row">
                          <div class="col-lg-12">
                            <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Order No, Customer No, Table Name"/><br>
                          </div>
                          <div class="col-lg-12">
                            <table class="table table-bordered table-striped" id="checkrecord">
                              <thead>
                                <tr>
                                  <th>Order Number</th>
                                  <th>Where</th>
                                  <th>Customer</th>
                                  <th>Table</th>
                                  <th>Amount</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody id="orderli">
                                <tr ng-repeat="orderli in filteredTodos">
                                  <td>{{orderli.om_no}}</td>
                                  <td>{{orderli.om_where}}</td>
                                  <td>{{orderli.cm_name}} {{orderli.cm_mobile}}</td>
                                  <td>{{orderli.tm_description}} {{orderli.am_name}}</td>
                                  <td>{{orderli.om_amount}}</td>
                                  <td>{{orderli.om_status_type}}</td>
                                  <td ng-if="orderli.om_status_type == 'cancel'">

                                  </td>
                                  <td ng-if="orderli.om_status_type != 'cancel'">
                                    <button class="btn btn-info form-control" style="width: 100px;" data-toggle="modal" data-target="#order-details" ng-click="   orderDetails($index)">
                                      <i class="icon icon-info"></i> View
                                    </button>
                                    <button class="btn btn-danger form-control" style="width: 100px;" ng-click="deleteOrder($index)"><i class="icon icon-trash"></i> Cancel</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{orderListcount}} Order's</span>
                          <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0" style="float: right;margin-top: -27px;">
                            <pagination class="inline"
                                ng-model="currentPage"
                                total-items="orderListcount"
                                max-size="maxSize"
                                boundary-links="true" data-num-pages="noOfPages"
                                items-per-page="numPerPage">
                            </pagination>
                          </span>
                        </div>
                            <!-- row -->
                     </div>
                        <!-- /card block-->
                    <div class="card-footer">
                    </div>                   
                </div>
                    <!-- /.card  -->
            </div>
                <!-- /col-lg-12 -->
        </div>
    </div>
</div>

<!-- // modal for view -->
<div id="orderDetails" class="modal" role="dialog" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="row" >
          <div class="col-lg-12"><hr>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Product Name</th>
                  <th>Quantity</th> 
                  <th>Price</th>
                  <th>Total</th> 
                </tr>
              </thead>
              <tbody>
                <tr ng-if="print.opm_status_type != 'cancel'" ng-repeat="print in viewList track by $index">
                  <td>{{print.opm_status_type}}</td>
                  <td>{{print.pm_description}} {{print.pm_quantity}}</td>
                  <td>{{print.opm_quantity}}</td>
                  <td>{{print.opm_rate}}</td>
                  <td>{{print.opm_quantity * print.opm_rate | number:2}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td align="right" colspan="4">Total:</td>
                  <td>{{total_amount | number :2}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
          <!-- row -->       

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div></div>
<!-- // end modal for view -->

<!-- Modal Stop -->
<div id="confirm-delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Cancel Order</h4>
      </div>
      <div class="modal-body">
        <p>You are about to cancel the <b><i class="title"></i></b> order, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger" ng-click="cancelOrder()">Cancel Order</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


