<!-- Breadcrumb -->
<ol class="breadcrumb m-b-0" ng-init="getDealer();">
    <li><a href="#/">Home</a></li>
    <li><a href="#/dealer">Order</a></li>
    <li class="active">Edit Order</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Edit Order</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="name">Order Name</label>
                                    <input type="text" id="dm_firm_name" class="form-control" ng-model="dealer.dm_firm_name">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="name">Mobile Number</label>
                                    <input type="text" id="dm_number" class="form-control keyboard-num" ng-model="dealer.dm_number">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Address</label>
                                    <textarea id="dm_address" rows="1" class="form-control" ng-model="dealer.dm_address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="name">Credit</label>
                                    <input type="text" id="dm_credit" class="form-control" ng-model="dealer.dm_credit" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="name">Opening Credit</label>
                                    <input type="text" id="dm_opening_credit" class="form-control keyboard-num" ng-model="dealer.dm_opening_credit">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="name">Debit</label>
                                    <input type="text" id="dm_debit" class="form-control" ng-model="dealer.dm_debit" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="name">Opening Debit</label>
                                    <input type="text" id="dm_opening_debit" class="form-control keyboard-num" ng-model="dealer.dm_opening_debit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-danger" onclick="window.location = '#/dealer'" id="btncancel">Back</button>
                        <button type="button" class="btn btn-sm btn-success" id="btnsave" ng-click="editDealer()">Update Dealer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
