<ol class="breadcrumb m-b-0" ng-init="getAll();">
    <li><a href="#/">Home</a></li>
    <li class="active">Dealer</li>
</ol>

<div class="span12" align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/assets/img/reload.gif" style="margin-top: 50px; height: 200px;width: 250px;">
</div>
<div class="container-fluid" ng-show="loading1 == 1">
    <div class="animated fadeIn">
        <div class="row row-equal">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Dealer List</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-block">
                        <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search Here..."/><br>
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>Dealer Name</th>
                              <th>Mobile Number</th>
                              <th>Address</th>
                              <th>Debit</th>
                              <th>Credit</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="dealer in filteredTodos | filter : dealer">
                              <td>{{dealer.dm_firm_name}}</td>
                              <td>{{dealer.dm_number}}</td>
                              <td>{{dealer.dm_address}}</td>
                              <td>{{dealer.dm_debit}}</td>
                              <td>{{dealer.dm_credit}}</td>
                              <td>
                                <button class="btn btn-info form-control" data-toggle="modal" data-target="#dealer-details" ng-click="dealerDetails($index)" style="width: 100px;">
                                  <i class="icon icon-info"></i> View
                                </button>
                                <a class="btn btn-warning form-control" style="width: 100px;" href="#/dealer/edit/{{dealer.dm_id}}"><i class="icon icon-pencil"></i> Edit</a>
                                <button class="btn btn-danger form-control" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteDealer(dealer.dm_id)" style="width: 100px;">
                                  <i class="icon icon-trash"></i> Delete
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{dealerListcount}} Dealer's</span>
                        <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0" style="float: right;margin-top: -27px;">
                          <pagination  class="inline"
                                  ng-model="currentPage"
                                  total-items="dealerListcount"
                                  max-size="maxSize"
                                  boundary-links="true" data-num-pages="noOfPages"
                                  items-per-page="numPerPage">
                          </pagination>
                        </span>
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
</div>

<!-- Modal -->
<div id="confirm-delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="dealer-details" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dealer Details</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>Name: <strong>{{dname}}</strong></td>
            <td>Number: <strong>{{dno}}</strong></td>
            <td>Address: <strong>{{dadd}}</strong></td>
            <td>Debit: <strong>{{ddebit | number : 2}}</strong></td>
            <td>Credit: <strong>{{dcredit | number : 2}}</strong></td>
          </tr>
        </table>
        <table class="table">
          <tr>
          <td><input class="form-control" id="user-datepicker-from" type="text" placeholder="From Date"></td>
          <td><input class="form-control" id="user-datepicker-to" type="text" placeholder="To Date"></td>
          <td><button type="button" class="btn" id="filter-user-btn" ng-click="filter()">Filter</button></td>
          <td><button type="button" class="btn" id="reset-user-btn" ng-click="reset()">Reset</button></td>
          </tr>
        </table>
        <table class="table" border="1" id="content">
          <thead>
            <tr>
              <th>Type</th>
              <th>Invoice</th>
              <th>Date</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>DR/CR</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="purchaseDetails in dealerdetailsList | filter : purchaseDetails">
              <td style="padding:4px 8px 4px 8px;">{{purchaseDetails.type}}</td>
              <td style="padding:4px 8px 4px 8px;">{{purchaseDetails.invoice}}</td>
              <td style="padding:4px 8px 4px 8px;">{{purchaseDetails.date | date : 'mediumDate'}}</td>
              <td style="padding:4px 8px 4px 8px;">{{purchaseDetails.debit}}</td>
              <td style="padding:4px 8px 4px 8px;">{{purchaseDetails.credit}}</td>
              <td style="padding:4px 8px 4px 8px;">{{purchaseDetails.drcr}}</td>
              <td style="padding:4px 8px 4px 8px;">{{purchaseDetails.bal}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button  class="btn btn-success" type="button" ng-click="exportXls1();">Export</button>
        <button type="button" class="btn btn-primary" ng-click="printDetails();">Print</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>