<div class="pcoded-content" ng-init="getEmployee();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Employee Management</a>
                                </li>
                                <li class="active breadcrumb-item">
                                    <a class="active">Edit Employee</a>
                                </li>
                            </ul>
                            <h3>Edit Employee Details</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                        <label>Employee Name</label>
                                        <input type="text" id="emp_name" class="form-control" ng-model="employee.emp_name" />
                                </div>
                                
                                <div class="col-sm-6">
                                        <label>Mobile Number</label>
                                        <input type="text" id="emp_mobile" class="form-control" ng-model="employee.emp_mobile" />
                                <br>
                                </div>
                                <div class="col-sm-6">
                                        <label>Residential Address</label>
                                        <textarea id="emp_address" class="form-control" ng-model="employee.emp_address" rows="1"></textarea>
                                <br>
                                </div>

                                <div class="col-sm-6">
                                        <label>Correspondence Address</label>
                                        <textarea id="emp_correspondence_address" class="form-control" ng-model="employee.emp_correspondence_address" rows="1"></textarea>
                                </div>

                                <div class="col-sm-6">
                                        <label>Aadhar No</label>
                                        <input type="text" id="emp_aadhar_no" class="form-control" ng-model="employee.emp_aadhar_no" />
                                </div>

                                <div class="col-lg-6">
                                        <label>Pan Card</label>
                                        <input type="text" id="emp_pancard_no" class="form-control" ng-model="employee.emp_pancard_no" />
                                <br>
                                </div>

                                <div class="col-sm-6">
                                        <label>Designation</label>
                                        <input type="text" id="emp_designation" class="form-control" ng-model="employee.emp_designation" />
                                </div>
                                <div class="col-sm-6">
                                        <label>Emp-Id</label>
                                        <input type="text" id="emp_emp_no" class="form-control" ng-model="employee.emp_emp_no" />
                                        <br>
                                </div>
                                <div class="col-sm-6">
                                        <label>Email-Id</label>
                                        <input type="email" id="emp_email_id" class="form-control" ng-model="employee.emp_email_id" />
                                </div>
                                <div class="col-sm-6">
                                        <label>Qualification</label>
                                        <input type="text" id="emp_qualification" class="form-control" ng-model="employee.emp_qualification" />
                                <br>
                                </div>
                                <div class="col-sm-6">
                                        <img id="blah" alt="your image" height="100" width="100" ng-src="{{employee.emp_image}}"/>
                                        <input type='file' id="emp_image" name="emp_image" ng-model=emp_image multiple/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <br>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-grd-danger" onclick="window.location = '#/employee'" id="btncancel">Back</button>
                                    <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="updateEmployee()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>