<ol class="breadcrumb m-b-0" ng-init="getAll();">
    <li><a href="#/">Home</a></li>
    <li>Kitchen</li>
    <li class="active">Pending-Orders</li>
</ol>

<div class="span12" align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/assets/img/reload.gif" style="margin-top: 50px; height: 200px;width: 250px;">
</div>
<div class="container-fluid" ng-show="loading1 == 1">
    <div class="animated fadeIn">
        <div class="row row-equal">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Pending Order</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-block">
                        <table class="table table-bordered table-striped" id="checkrecord">
                          <thead>
                            <tr>
                              <th>Order No</th>
                              <th>Where</th>
                              <th>Table</th>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-if="kitchen.opm_status_type == 'cancel'" ng-style=" {'background-color': 'red'}" ng-repeat="kitchen in kitchenList">
                              <td>{{kitchen.om_no}}</td>
                              <td>{{kitchen.om_where}}</td>
                              <td>{{kitchen.tm_description}} {{kitchen.am_name}}</td>
                              <td>{{kitchen.pm_description}} {{kitchen.pm_quantity}}</td>
                              <td>{{kitchen.opm_quantity}}</td>
                              <td><button class="btn btn-info" ng-click="ordercomplete($index)">
                                <i class="fa fa-check"> Done</button></td>
                            </tr>
                            <tr ng-if="kitchen.opm_status_type == 'update'" ng-style=" {'background-color': 'yellow'}" ng-repeat="kitchen in kitchenList">
                              <td>{{kitchen.om_no}}</td>
                              <td>{{kitchen.om_where}}</td>
                              <td >{{kitchen.tm_description}} {{kitchen.am_name}}</td>
                              <td>{{kitchen.pm_description}} {{kitchen.pm_quantity}}</td>
                              <td>{{kitchen.opm_quantity}}</td>
                              <td><button class="btn btn-info" ng-click="ordercomplete($index)">
                                <i class="fa fa-check"> Done</button></td>
                            </tr>
                            <tr ng-if="kitchen.opm_status_type == 'pending'" ng-repeat="kitchen in kitchenList">
                              <td>{{kitchen.om_no}}</td>
                              <td>{{kitchen.om_where}}</td>
                              <td >{{kitchen.tm_description}} {{kitchen.am_name}}</td>
                              <td>{{kitchen.pm_description}} {{kitchen.pm_quantity}}</td>
                              <td>{{kitchen.opm_quantity}}</td>
                              <td><button class="btn btn-info" ng-click="ordercomplete($index)">
                                 <i class="fa fa-check"></i> Done</button></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
</div>

