<div class="pcoded-content" ng-init="getAll();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card" ng-show='loading1==1'>
                      	<div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">User Management</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Roles List</a>
                                </li>
                            </ul>
                            <h3>Roles List</h3>
                            <hr>
                      	</div>
                      	<div class="card-block">
                            <div class="row">
                              <div class="col-lg-11">
                                <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "search by role name or role description"/><br>
                              </div>
                              <div class="col-lg-1">
                                <a class="btn btn-outline btn-info" href="#/role/add">Add</a>
                              </div>
                            </div>
                            <div class="form-group row">
                                <table class="table table-bordered table-striped">
						                      <thead>
          						                <tr>
          						                    <th>Role name</th>
                    											<th>Role Discription</th>
                    											<th>Action</th>
          						                </tr>
          						            </thead>
						                      <tbody>
          						                <tr ng-repeat="role in filteredTodos | filter : role">
                  											<td>{{role.rm_name}}</td>
                  											<td>{{role.rm_description}}</td>
      											            <td>
                  												<i class="fa fa-info-circle" data-toggle="modal" data-target="#view-details" ng-click="getPermission($index)"></i>
                  												<a href="#/role/edit/{{role.rm_id}}"><i class="fa fa-pencil"></i></a>
                  												<i class="fa fa-trash" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteRole(role.rm_id)"></i>
                  											</td>
          						                </tr>
          						            </tbody>
					      	              </table>
					      	              <br>
          					            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{roleListcount}} Role's</span>
                							    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0" style="float: right;margin-left: 60%;">
                							      <pagination
                							              ng-model="currentPage"
                							              total-items="roleListcount"
                							              max-size="maxSize"
                							              boundary-links="true" data-num-pages="noOfPages"
                							              items-per-page="numPerPage">
                							      </pagination>
          						          	</span>
                            </div>
                     	  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="view-details">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Permission Details</h4>
      </div>
      <div class="modal-body">
    	<table class="table" border="1">
			<thead>
			<tr>
				<th>Module</th>
				<th>Permission</th>
			</tr>
			</thead>
			<tbody id="content">
  		<tr ng-repeat="permission in permissionList">
        <td>{{permission.pm_name}}</td>
        <td class="table-responsive"><input type="checkbox"  ng-model='permission.rpm_add'> Add <input type="checkbox"  ng-model='permission.rpm_edit'> Update <input type="checkbox" ng-model='permission.rpm_delete'> Delete <input type="checkbox" ng-model='permission.rpm_list'>List</td>
      </tr>
			</tbody>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->